.hy-index-tags li a{border: 1px solid #ffe28a; background-color: transparent; color: #ffe28a;}
.hy-index-tags li a:hover{ background-color: #ffffff; color: #fff;}
.hy-index-tags li a:hover{ background: none; color: #fff;}
.hy-index-tags {
	padding:0
}
.hy-index-tags.active {
	padding:20px 0 10px
}
.hy-index-tags h5 {
	margin-bottom:20px;
	padding:0 10px
}
.hy-index-tags li {
	float:left;
	width:25%;
	padding:0 10px 10px 10px
}
.hy-index-tags li a {
	display:block;
	padding:6px 10px;
	text-align:center;
	border-radius:4px
}

.hy-index-tags li {
	padding:5px
}
.hy-index-menu li a {
	padding:10px 0;
	font-size:12px
}
.hy-index-tags {
	margin-bottom:10px;
	padding:0
}
.hy-index-tags li a {
	font-size:12px
}
.hy-index-tags.active {
	margin-bottom:0;
	padding:10px 0
}

.text-overflow {
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%
}
